<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Plantagotchi&trade;</ion-title>
        <ion-progress-bar *ngIf="loading$ | async" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <header class="ion-text-center ion-margin-bottom">
        <h6><b>Dispositivos</b></h6>
        <small>{{(plants$ | async)?.length}} dispositivos</small>
    </header>

    <ion-grid id="plant-nodes-grid">
        <ion-row>
            <ion-col *ngFor="let plant of plants$ | async" size="6">
                <ion-card class="ion-no-margin ion-padding" color="light" button [routerLink]="['/node-details', plant.id ]">
                    <ion-card-content>
                        <ion-label>
                            <b>{{plant.name}}</b>
                        </ion-label>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>